<div class="container">
    <div class="row">
        <div class="col-xs-1">
            <img class="avatar" [src]="avatarUrl">
        </div>
        <div class="col-xs-4">
            <label class="inline">Username:</label>
            <input [(ngModel)]="username" (ngModelChange)="updateUsername($event)">
        </div>
        <div class="col-xs-7">
            <label class="inline">Message:</label>
            <input class="message" [(ngModel)]="message">
        </div>
    </div>
    <div class="row">
        <button class="send-btn" (click)="sendMessage()" [disabled]="!message">Send Message</button>
    </div>
</div>